h1 {
  color: brown;
  margin-bottom: 30px;
  font-family: "Roboto";
  letter-spacing: 0px;
  font-weight: 300;
  text-align: center;
  font-size: 2.2em;
}
#slide {
    width: 300px;
    height: 90px;
    border: 1px solid #36363609;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slide-single {
    width: 90px;
    height: 90px;
    position: absolute;
    transition: all ease 1s;
    left: 0;
    top: 0;
}

.dots {
  width: 300px;
  height: 35px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  
}
.dot {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgba(243, 208, 224, 0.664);
  align-self: center;
}
.on {
  transition: all ease 1s;
  background-color: rgba(170, 100, 100, 0.726);
}
button {
  width: 35px;
  padding-bottom: 5px;
  border: transparent;
  border-radius: 50%;
  font-size: 22px;
  background: transparent;
  color: rgb(194, 207, 203);
}
button:hover {
  background-color: cornflowerblue;
}
button:active {
  background-color: coral;
}
#prav {
  justify-self: end;
}
#lev {
  justify-self: start;
}